:root {
    --background-upper: #1f2937;
    --background-lower: #e5e7eb;
    --main-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --button-color: #3882f6;
    --info-color: #1f2937;

    /* Text */
    --main-font: 900 48px "Roboto";
    --secondary-font: 400 18px "Roboto";
    --logo-font: 400 24px "Roboto";
    --info-font: 900 36px "Roboto";
    --quote-font: 300 36px "Roboto";

    --default-padding: 8px 300px;
}

* {
    margin: 0;
    padding: 0;
}

.padding {
    padding: var(--default-padding);
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-upper);
    padding: var(--default-padding);
    padding-bottom: 24px;

    h1 {
        color: var(--main-text);
        font: var(--logo-font);
        text-align: center;
        margin: 12px
    }

    ul, a {
        color: var(--secondary-text);
        font: var(--secondary-font);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        list-style: none;
        text-decoration: none;
    }
}

.content-upper {
    background-color: var(--background-upper);
    padding: var(--default-padding);
    padding-block: 84px;
    display: flex;
    justify-content: space-between;

    h2 {
        color: var(--main-text);
        font: var(--main-font);
        font-weight: 900;
    }

    p {
        color: var(--secondary-text);
        font: var(--secondary-font);
        margin-block: 4px;
    }

    .signbutton {
        color: var(--main-text);
        background-color: var(--button-color);
        padding: 6px 24px;
        border-radius: 8px;
        margin-block: 8px;
        border: none;
    }

    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        justify-content: center;
        align-items: center;
    }
}

.container-upper {
    width: 450px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-middle {
    margin-block: 24px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
        font: var(--info-font);
        text-align: center;
    }

    .cards {
        margin-block: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1000px;
        text-align: center;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .imgph {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                border: 5px solid var(--button-color);
                border-radius: 8px;
                height: 150px;
                width: 150px;
            }
        
            .subtext {
                color: grey;
                width: 145px;
                font: var(--secondary-font);
            }
    }
}

.content-lower {
    background-color: var(--background-lower);
    padding-block: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container-lower {
        width: 1100px;
        display: flex;
        flex-direction: column;
    }

    .quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font: var(--quote-font);
        font-style: italic;
        color: var(--info-color)
    }
    
    .credit {
        display: flex;
        margin-left: auto;
        font: var(--logo-font);
        font-weight: bold;
    }
}



